name: Release nuget on tag

on:
  push:
    tags:
    - '*'

env:
  BUILD_CONFIGURATION: 'Release'    # set this to the appropriate build configuration
  DOTNET_VERSION: '7.x' 

jobs:
  build:
    runs-on: windows-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      # Run dotnet build and package
      - name: dotnet restore
        run: dotnet restore
          
      - name: dotnet build
        run: dotnet build --configuration '${{ env.BUILD_CONFIGURATION }}'

      - name: dotnet test
        run: dotnet test --configuration '${{ env.BUILD_CONFIGURATION }}'

  az-artifacts-build-and-deploy:
    needs: build
    runs-on: windows-latest
    steps:
      # Checkout the repo
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}
          source-url: ${{ env.AZURE_ARTIFACTS_FEED_URL }}
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.AZURE_DEVOPS_TOKEN }} 

      # Run dotnet build and package
      - name: dotnet restore
        run: dotnet restore
          
      - name: dotnet build
        run: dotnet build --configuration '${{ env.BUILD_CONFIGURATION }}'

      - name: dotnet pack
        run: dotnet pack -c '${{ env.BUILD_CONFIGURATION }}'

      # Publish the package to Azure Artifacts
      - name: 'dotnet publish'
        run: dotnet nuget push bin/${{ env.BUILD_CONFIGURATION }}/*.nupkg --api-key ${{ secrets.nuget_api_key }} 